# Visual Studio files
.vscode/
*.vcxproj.user
*.suo
*.log
*.tlog
*.obj
*.pdb
*.ipch
*.o
*.idb
*.ilk
*.cache
*.sdf
*.db
*.opendb
*.VC.db
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb
*.manifest
*.tlog
*.lastbuildstate
x64/
Debug/
Release/

!libs/DirectXTK-main/Bin/Desktop_2022/x64/Debug/DirectXTK.lib
!libs/DirectXTK-main/Bin/Desktop_2022/x64/Release/DirectXTK.lib

 
.vs/ 
