# Visual Studio files
.vscode/
*.vcxproj.user
*.suo
*.log
*.tlog
*.obj
*.pdb
*.ipch
*.o
*.idb
*.ilk
*.cache
*.sdf
*.db
*.opendb
*.VC.db
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb
*.manifest
*.tlog
*.lastbuildstate
x64/
Debug/
Release/
 
.vs/ 
